{% load static %}
<section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Recursos incríveis</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">

              {% for r in recursos %}

                <!-- itens esquerda -->
                <div class="box-item wow fadeInLeft" data-wow-delay="{{ forloop.counter0 }}s">
                  <span class="icon">
                    <i class="{{ r.icone }}"></i>
                  </span>
                  <div class="text">
                    <h4>{{ r.recurso }}</h4>
                    <p>{{ r.descricao }}</p>
                  </div>
                </div>
                <!-- itens esquerda -->
              {% endfor %}

            </div>
          </div>


          <!-- img central -->
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
            </div>
          </div>
          <!-- img central -->


          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">

              <!-- itens direita -->
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>Modern Design</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>

              <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                <span class="icon">
                  <i class="lni-layers"></i>
                </span>
                <div class="text">
                  <h4>Multi-purpose Template</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>

              <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>Working Contact Form</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
              <!-- itens direita -->

            </div>
          </div>
        </div>
      </div>
    </section>